*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    display: flex;
}
.icon{
    box-shadow: 0 0 5px 10px rgba(0,0,0,0.05);
    width: 60px;
    height: 60px;
    margin:20px;
    text-decoration: none;
    text-align: center;
    color: #000;
    border-radius: 50%;
    line-height: 60px;
    font-size: 30px;
    position: relative;
    overflow: hidden;
}

.icon:after{
    width: 60px;
    height: 60px;
    bottom: -60px;
    left: 0;
    content: '';
    z-index: -1;
    position: absolute;
    background: linear-gradient(to bottom, #63a4ff 0%, #83eaf1 74%);
    
    transition: 0.2s;
}

.icon:hover{
    color: #fff;
}

a:hover::after{
    bottom: 0;
}